

/* Stiluri specifice pentru diferite dimensiuni ale ecranului */
@media only screen and (max-width: 768px) {
  .logo {
    background-image: url('../images/logo/logoMobile@2x.png');
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .logo {
    background-image: url('../images/logo/logoTablet@2x.png');
  }
}

@media only screen and (min-width: 1025px) {
  .logo {
    background-image: url('../images/logo/logoDesktop@2x.png');
  }
}
